@import "./components/notify.scss";
/**
  colors variable
*/
:root {
  --white: #fff;
  --lightBg: #f2f2f2; // 浅色背景
  --opacityBg: rgba(240, 240, 240, 0.3);
  --border: #d9d9d9;
  --tipColor: #999;
  --lightTxt: #656565;
  --lightInk: rgba(22, 24, 35, 0.3); // 淡墨色
  --ink: #161823; // 墨色
  --cinnabar: #ff461f; // 朱砂
  --warning: #ffa631; // 朱砂
  --azure: #70f3ff; // 蔚蓝
  --darkGreen: #2add9c; // 碧绿
  --oilGreen: #00bc12; // 油绿
  --lightCyan: #14ffec; // 淡青
  --cyanogen: #0095d9;
}

/* flex 布局 */
.d-flex,
.flex-between,
.flex-around,
.flex-center,
.flex-end,
.flex-col,
.flex-col-between {
  display: flex;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-col {
  flex-direction: column;
  justify-content: center;
}
.flex-col-between {
  justify-content: space-between;
  flex-direction: column;
}

/**
 垂直 水平居中定位
*/
.fixed-center {
  position: fixed;
}
.absolute-center {
  position: absolute;
}
.fixed-center,
.absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
// position
.relative {
  position: relative;
  left: 0;
  top: 0;
}
.absolute {
  position: absolute;
  left: 0;
  top: 0;
}
.fixed {
  position: fixed;
  left: 0;
  top: 0;
}

/**
  提示信息
*/
.error-tip,
.warning-tip,
.success-tip {
  font-size: 12px;
  margin: 0 10px;
}

.error-tip {
  color: var(--cinnabar);
}
.warning-tip {
  color: var(--warning);
}
.success-tip {
  color: var(--darkGreen);
}

.tip {
  color: var(--tipColor);
  font-size: 14px;
  text-align: center;
}

/**
 文字溢出隐藏
 */
// 单行
.txt-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// 多行
.two-line-txt,
.three-line-txt {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.two-line-txt {
  -webkit-line-clamp: 2;
}
.three-line-txt {
  -webkit-line-clamp: 3;
}

.trans-all-05 {
  transition: all 0.5s;
}
.trans-all-03 {
  transition: all 0.3s;
}

/**
  scroll
*/
.scroller-light::-webkit-scrollbar,
.scroller::-webkit-scrollbar,
.scroller-light::-webkit-scrollbar-corner,
.scroller::-webkit-scrollbar-corner {
  background-color: transparent;
}
.scroller-light::-webkit-scrollbar:vertical,
.scroller::-webkit-scrollbar:vertical {
  cursor: default;
  width: 6px;
}
.scroller-light::-webkit-scrollbar:horizontal,
.scroller::-webkit-scrollbar:horizontal {
  cursor: default;
  height: 6px;
}
.scroller-light::-webkit-scrollbar-button,
.scroller-light::-webkit-scrollbar-corner,
.scroller::-webkit-scrollbar-button,
.scroller::-webkit-scrollbar-corner {
  display: none;
}

.scroller-light::-webkit-scrollbar-thumb,
.scroller::-webkit-scrollbar-thumb {
  border-radius: 3px;
  cursor: pointer;
}
.scroller-light::-webkit-scrollbar-thumb {
  background-color: var(--lightBg);
}
.scroller::-webkit-scrollbar-thumb {
  background-color: var(--tipColor);
}

/**
  Button 通用样式
*/
.btn {
  background-color: var(--cyanogen);
  border-radius: 5px;
  color: var(--white);
  border: none;
  outline: none;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  &.disabled {
    background-color: var(--lightBg);
    color: var(--tipColor);
    cursor: not-allowed;
  }
}

// btn-border
.r-hover,
.g-hover {
  cursor: pointer;
  padding: 3px 5px;
  margin: 0 10px;
  position: relative;
  transition: all .3s;
}
.r-hover:hover {
  color: var(--cinnabar);
}
.g-hover:hover {
  color: var(--darkGreen);
}

/**
  偏移淡入
*/
.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translateX(200px);
}

.wh-100 {
  width: 100%;
  height: 100%;
}

// 自定义偏移淡入 - 留在最终位置
.translate-fade-in {
  animation: translateFadeIn 0.5s ease forwards;
}

@keyframes translateFadeIn {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/**
  content 内容区
*/
.content {
  width: 1200px;
  border: 1px solid var(--border);
  border-left: none;
  border-right: none;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
  // .info {}
}
