// 媒体查询 - 响应式样式
@media screen and (max-width: 1200px) {
  .k-page {
    div.content {
      width: 100%;
    }
  }
}
@media screen and (max-width: 800px) {
  .k-page {
    .k-header {
      .header-content {
        padding: 0;
      }
    }
    &.k-about {
      .content {
        margin: 0;
      }
    }
    div.content {
      min-height: calc(100vh - 40px);
    }
    &.subscription {
      .main-content {
        .tip-title {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .k-page {
    &.subscription {
      .main-content {
        .subscription-form {
          width: calc(100% - 10px);
          margin: 0 auto;
        }
      }
    }
  }
}
