/* flex 布局 */
.d-flex,
.flex-between,
.flex-around,
.flex-center {
  display: flex;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-center {
  justify-content: center;
}
