.comment-form {
  //border: 1px solid var(--border);
  border-radius: 5px;
  width: 100%;
  label {
    width: 100%;
  }
  .mentions {
    padding: 0 10px;
    color: var(--primary);
    width: 100%;
    display: inline-block;
    visibility: hidden;
    &.show {
      visibility: visible;
    }
  }
  .chat-container {
    padding-bottom: 10px;
    // name / email
    .name-txt,
    .email-txt {
      position: relative;
      padding: 10px;
      .iconfont {
        color: var(--primary);
        font-size: 22px;
        width: 24px;
        height: 26px;
        margin-right: 8px;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
      input {
        height: 40px;
        color: inherit;
        padding-left: 30px;
      }
    }
  }
  // 评论内容
  .content-txt {
    padding: 10px;
    display: flex;
    textarea {
      height: 200px;
      color: inherit;
    }
  }
  .comment-submit {
    padding: 0 10px;
    text-align: right;
    .comment-status {
      text-align: left;
      width: calc(100% - 90px);
    }
    .comment-tip {
      max-width: 560px;
    }
  }
}
