//.comment {
//}

.comment-form {
  border: 1px solid var(--border);
  border-radius: 5px;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  label {
    width: 100%;
  }
  .chat-container {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--dark-theme-border);
    // name / email
    .name-txt,
    .email-txt {
      width: 50%;
      position: relative;
      .iconfont {
        color: var(--cyanogen);
        font-size: 1.3rem;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 10px;
      }
      input {
        height: 40px;
        width: 100%;
        border: none;
        outline: none;
        padding: 0 25px;
        color: inherit;
        //border-bottom: 1px dashed var(--border);
        //&:focus {
        //  border-bottom-color: var(--cyanogen);
        //}
      }
    }
  }
  // 评论内容
  .content-txt {
    padding: 10px 0;
    display: flex;
    textarea {
      min-height: 200px;
      max-height: 200px;
      min-width: 100%;
      max-width: 100%;
      padding: 10px 15px;
      outline: none;
      border: none;
      color: inherit;
    }
  }
}
