/**
  notify transition
*/
.notify-enter-active,
.notify-leave-active {
  transition: all 5s;
}

//.notify-enter,
//.notify-leave-to {
//  transform: translateX(300px);
//  opacity: 0;
//}
.notify-enter,
.notify-leave-to {
  transform: translate(-50%, -50%) scale(0);
}

/** notification style */
.notification {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 99;
  transition: all .3s;
  min-width: 250px;
  max-width: 300px;
  box-shadow: 0 0 10px 3px rgba($color: #000, $alpha: 0.1);
  background-color: var(--snowWhite);
  border-radius: 5px;
  padding: 20px;
  &.notify-enter,
  &.notify-leave-to {
    transform: translate(-50%, -50%) scale(0);
  }
  .notify-header,
  .notify-body {
    position: relative;
    padding-left: 40px;
  }
  .notify-header {
    margin-bottom: 10px;
    height: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    &.notification-success {
      color: var(--success);
    }
    &.notification-info {
      color: var(--primary);
    }
    &.notification-warning {
      color: var(--warning);
    }
    &.notification-error {
      color: var(--error);
    }
    .iconfont {
      font-size: 2rem;
      color: inherit;
      position: absolute;
      left: -5px;
      top: -8px;
    }
  }
  &.notify-success .notify-header {
    color: var(--success);
  }
  &.notify-info .notify-header {
    color: var(--primary);
  }
  &.notify-error .notify-header {
    color: var(--error);
  }
  &.notify-warning .notify-header {
    color: var(--warning);
  }
  .notify-body {
    font-size: 14px;
    line-height: 1.5;
    margin: 5px 0;
    color: var(--lightTxt);
  }
}
