/**
  notify
*/
.notify-container {
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
  padding: 10px;
  overflow: hidden;
  z-index: 11;
  pointer-events: none;
}

/**
  notify transition
*/
.notify-enter-active,
.notify-leave-active {
  transition: all .5s;
}

.notify-enter,
.notify-leave-to {
  transform: translateX(250px);
  opacity: 0;
}

.notification {
  position: fixed;
  right: 10px;
}

.notify {
  margin: 10px 0;
  transition: all .5s;
  max-width: 230px;
  box-shadow: 0 0 10px 3px rgba($color: #000, $alpha: 0.1);
  background-color: var(--white);
  border-radius: 10px;
  padding: 20px;
  &.notify-enter {
    transform: translateX(250px);
    opacity: 0;
  }
  .notify-header {
    margin-bottom: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    &.notification-success {
      color: var(--darkGreen);
    }
    &.notification-info {
      color: var(--cyanogen);
    }
    &.notification-warning {
      color: var(--warning);
    }
    &.notification-error {
      color: var(--cinnabar);
    }
    .iconfont {
      margin-right: 5px;
      color: inherit;
    }
  }
  &.notify-success .notify-header {
    color: var(--darkGreen);
  }
  &.notify-info .notify-header {
    color: var(--cyanogen);
  }
  &.notify-error .notify-header {
    color: var(--cinnabar);
  }
  &.notify-warning .notify-header {
    color: var(--warning);
  }
  .notify-body {
    font-size: 14px;
    margin: 5px 0;
    color: var(--lightTxt);
  }
}