@import "../colors";

.edit-record {
  height: 100%;
  .tip-title {
    color: var(--dark-primary);
    border-left: 5px solid var(--dark-primary);
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  .base-info {
    white-space: nowrap;
  }
  .tag-inp,
  .date-picker {
    width: 150px;
  }
}
.edit-area {
  height: calc(100% - 62px);
  .el-col {
    height: 100%;
  }
  .txt-content-col {
    position: relative;
    // 编辑区顶部菜单栏
    .edit-toolbar {
      height: 30px;
      padding: 5px 10px;
      color: $baseColor;
      background-color: #323232;
      border-radius: 5px 5px 0 0;
      .tool-item {
        cursor: pointer;
        margin-right: 10px;
        transform-origin: center center;
        &:hover {
          color: $lightCyan;
        }
        &.insert-img {
          position: relative;
          input {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
          }
        }
      }
    }
    .article-content {
      font-family: Consolas, Arial, Helvetica, sans-serif;
      height: calc(100% - 30px)!important;
      max-height: 100%;
      min-height: 50%;
      border-radius: 0 0 5px 5px;
    }
    .el-icon-close {
      position: absolute;
      right: 6px;
      top: 24px;
      font-size: 1rem;
      padding: 0.5rem;
      color: $borderColor;
      cursor: pointer;
      &:hover {
        color: #232425;
      }
    }
  }
  .preview-content {
    height: 100%;
    padding: 5px 15px;
    border: 1px solid $borderColor;
    background-color: rgba(3, 46, 61, 0.9);
    overflow: auto;
    border-radius: 5px;
  }
  // introduce
  .introduce-txt {
    display: block;
    width: 100%;
    min-height: 30%;
    max-height: 30%;
    overflow: scroll;
  }
  .preview-container {
    button {
      margin: 10px 0;
    }
    .preview-image {
      position: relative;
      color: $borderColor;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: all 0.5s;
      }
      &:hover {
        color: $lightCyan;
      }
      &:hover i,
      &:hover::after {
        opacity: 1;
      }
      img {
        width: 100%;
      }
      i {
        opacity: 0;
        position: absolute;
        z-index: 10;
        cursor: pointer;
        font-size: 40px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

