
.k-about {
  .content {
    width: 800px;
    min-height: calc(100vh - 80px);
    border: none;
    .title {
      font-size: 2rem;
      font-weight: 600;
      margin: 30px 0;
    }
    .part {
      line-height: 2;
      margin-bottom: 20px;
    }
    .introduce-list {
      padding-left: 20px;
      margin-bottom: 20px;
      .item {
        font-size: 16px;
        line-height: 2;
        position: relative;
        &::before {
          content: "☼";
          position: absolute;
          top: -5px;
          left: -16px;
          color: var(--tipColor);
          font-size: 20px;
        }
      }
    }

    .link-area {
      .link-item {
        color: var(--tipColor);
        margin-right: 10px;
        transition: color .3s;
        &:first-child:hover {
          color: var(--darkGreen);
        }
        &:nth-child(2):hover {
          color: var(--warning);
        }
        &:nth-child(3):hover {
          color: var(--cyanogen);
        }
      }
      .iconfont {
        font-size: 1.6rem;
        cursor: pointer;
      }
    }
  }
}
