/*
  留言板页面
*/
.k-message-board {
  min-height: 100vh;
  .content {
    min-height: calc(100vh - 40px);
  }
  .tip-message {
    padding: 30px 10px 10px;
    border-radius: 5px;
    margin: 10px;
    border-left: 5px solid var(--success);
    background-color: var(--opacity-cyan-1);
    line-height: 1.5;
    position: relative;
    font-size: 14px;
    .icon-close {
      position: absolute;
      right: 10px;
      top: 5px;
      cursor: pointer;
    }
  }
  .add-message {
    margin: 20px 10px;
    text-align: right;
  }
}
